/* SecurityList.css */
.security-list-container {
    padding: 20px;
    margin-top: 20px;
  }
  
  .title {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .table-box {
    display: flex;
    justify-content: center;
  }
  
  .table-container {
    width: 100%;
    max-width: 900px;
    overflow-x: auto;
  }
  
  .table-container::-webkit-scrollbar {
    height: 10px;
  }
  
  .table-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  .table-container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  