@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Defining CSS variables for colors */
:root {
    --primary-color: #0B111E; /* Primary background color */
    --secondary-color: #11192D; /* Secondary background color */
    --text-color: #F5F5F5; /* Text color */
    --hover-color: #72C0C0; /* Hover effect color */
}

body {
    margin-top: 50px; /* Top margin */
    padding: 0px 50px; /* Padding on the left and right */
    margin-bottom: 0; /* Bottom margin */
    color: var(--text-color); /* Text color */
    background-color: var(--primary-color); /* Background color */
    font-family: 'Roboto', sans-serif; /* Font family */
    min-width: 500px; /* Minimum width */
    overflow-x: auto; /* Horizontal overflow handling */
}
